@model List<AcunmedyaAkademiPortfolio.Models.TblService>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}


<div class="container">
    <h2>Hizmetler</h2>

    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Servis Adı</th>
            <th>Açıklama</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.ServiceName</td>
                <td>@item.ServiceDescription</td>
                <td><a href="/Services/DeleteService/@item.ServiceId" class="btn btn-info">Sil</a></td>
                <td><a href="/Services/DeleteService/@item.ServiceId" class="btn btn-info">Güncelle</a></td>
            </tr>
        }

    </table>
    <br />
    <a href="/Service/AddService" class="btn btn-info">Yeni Hizmet Ekle </a>
</div>
