@model List<AcunmedyaAkademiPortfolio.Models.TblExperience>



    <h3 class="resume-title">Deneyimlerim</h3>

    @foreach(var item in Model)
            {
                <div class="resume-item">
                    <h4>@item.Title</h4>
                    <h4>@item.Company</h4>
                    <h5>@item.StartYear - @item.EndYear</h5>
                   
                  

                </div>
            }

</div>
